/* css team generator styling, TWH, 7/10/21 */

* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

/* header */
.jumbotron {
    text-align: center;
    background-color: rgb(36, 82, 167);
    color: white;
    border-bottom: solid 10px rgb(253, 183, 52);
}

/* cards */
.card-deck {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.card {
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(248, 251, 255);
    box-shadow: 0 6px 5px 0 rgb(36, 82, 167), 0 6px 5px 0 rgb(36, 82, 167);
}

.card-body {
    margin-left: 4%;
    margin-right: 4%;
}

h4 {
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* positions */
.manager-title {
    background-color: black;
    color:white;
}

.engineer-title {
    background-color: rgb(36, 82, 167);
    color:white
}

.intern-title {
    background-color: rgb(253, 183, 52);
    color: black
}

/* footer */
.footer {
    background-color: rgb(36, 82, 167);
    width: 100%;
    color: white;
    text-align: center;
    font-size:15px;
    padding:10px;
    border-top: solid 10px rgb(253, 183, 52);
}